<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write New Chat </title>

</head>
<body>
  <h3>write new chat</h3>  
  <form method="post" action="/chats">
    <input type="text" placeholder="who are you" name="from" /><br>
     <textarea name="msg" id="">Write your message here..</textarea><br>
     <input placeholder="add receiver" name="to" /><br>
     <button>Create Chat </button>
</form>
</body>
</html>